@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@800;900&family=Roboto:wght@400;500&display=swap');

body {
  background: #fffbf8;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: "Alegreya", serif;
  line-height: 1.1em;
  margin-bottom: 1em;
  font-weight: 900;
}

p, .testimonials-section li {  
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.75em;
}

.info-box {
  padding: 15px 20px 25px 20px;

  h1,h2,h3 {
    margin-bottom: 0.5em;
  }
}


.learn-more-btn {
  font-family: "Alegreya", serif;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 1.75em;
  margin-bottom: 2.75em;

  a {
    text-decoration: none;
    color: #1f2b39;
    border-radius: 0.1em; 
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: -9px;
    z-index: 98;
    width: 130px;
    text-align: center;
  }

  .line-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .line-decoration {
    border-bottom: 10px solid;
    border-radius: 0.3em;
    margin-top: -10px;
  }
}

.navbar {
  background-color: #3EBFFF;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;

  a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #858489;
  }

  nav {
    display: none;
    justify-content: center;
    position: absolute;
    background-color: white;
    right: 0;
    width: 86%;
    top: 105px;
    right: 0;
    left: 0;
    padding: 30px 0 40px 0;
    margin-left: auto;
    margin-right: auto;
  }

  nav.menu-show {
    display: flex;
  }

  nav::before {
    position: absolute;
    top: -25px;
    right: 0;
    content: "";
    width: 0;
    border-left: 25px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 25px solid white;
  }

  li {
    padding: 15px 20px 15px 20px;
    text-align: center;
  }

  .contact-btn {
    background-color: #FBD601;
    border-radius: 2em;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 15px 30px 15px 30px;
    
    a {
      font-family: "Alegreya", serif;
      color: #1f2b39;
      font-weight: 800;
    }
  }


  .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 20px 25px;
    align-items: center;
  }

  .mobile-menu {
    width: 1.5rem;
    height: 1.25rem;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero {
  text-align: center;
  background-image: url("/images/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;

  .container {
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    padding-top: 1.7em;
  }

  h1 {
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2.4mm;
  }

}

.content-section-1, .content-section-2  {
  text-align: center;
  background-color: #fffbf8;

  h1 {
    color: #1f2b39;
    font-size: 2.3em;
  }

  p {
    color: #858489;
  }

  img {
    width: 100%;
  }
}

.content-section-1 {

  .line-decoration {
    border-color: rgb(248, 242, 187);
  }

}

.content-section-2 {

  .line-decoration {
    border-color: rgb(255, 220, 220);
  }

}


.features-section {
  text-align: center;
  
  h1 {
    font-size: 1.875em;
  }


  .left-col {
    background-image: url("/images/desktop/image-graphic-design.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #0f584c;
  }

  .right-col {
    background-image: url("/images/desktop/image-photography.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #0f5981;
  }
}

.testimonials-section {
  text-align: center;

  h2 {
    text-transform: uppercase;
    color: rgb(185, 185, 185);
    letter-spacing: 0.35em;
    font-size: 1em;
    margin-top: 2.5em;
  }

  blockquote {
    margin: 0;
  }

  cite {
    font-family: "Alegreya", serif;
    font-size: 1.5em;
    font-style: normal;
    display: block;
    margin-top: 1.3em;
    margin-bottom: 0.3em;
  }

  .profission-text {
    color: rgb(175, 174, 174);
  }

  ul {
    margin-bottom: 3em;
  }

  li {
    margin-top: 4em;
    margin-bottom: 1.2em;
  }

  li img{
    border-radius: 50em;
    width: 80px;
    height: 80px;
    margin-bottom: 1.1em;
  }
}

.gallery-section {
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  img {
    height: 50%;
    width: 50%;
    margin: 0;
  }
}

.footer {
  background-color: #90D4C5;
  text-align: center;
  padding: 3.5em 0 3.5em 0;

  .logo-footer {
    filter: brightness(0) saturate(100%) invert(36%) sepia(4%) saturate(4354%) hue-rotate(116deg) brightness(108%) contrast(99%);
    margin-bottom: 15px;
    width: 10em;
  }

  a {
    text-decoration: none;
    color: #2D7665;
    font-weight: 500;
  }

  .primary-nav {
    padding: 0 20px 0 20px;

    ul {
      display: flex;
      justify-content: center;
    }

    li {
      padding: 20px;
    }
  }

  .social-nav {
    margin-top: 40px;

    ul {
      display: flex;
      justify-content: center;
    }

    li {
      padding: 15px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    position: relative;

    .mobile-menu {
      display: none;
    }

    .container {
      padding: 20px 25px 20px 25px;
    }

    nav {
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: 0;
      padding: 0;
      margin: 0;
      background-color: transparent;
    }

    nav::before {
      display: none;
    }

    a {
      color: white;
    }

    .primary-nav {
      display: flex;
      align-items: center;
      margin-right: 20px;

      li {
        padding: 0 inherit 0 inherit;
        margin: 0;
      }

      .contact-btn {
        background-color: white;   
        margin-left: 25px;
      }
    }
  }

  .hero {
    height: 90vh;

    h1 {
      margin-bottom: 75px;
    }
  }

  .content-section-1 {
    .container {
      display: flex;
      text-align: left;
    }

    .left-col {
      order: 1;
      width: 50%;
      display: flex;
      justify-content: center;
      flex-flow: column;
      align-items: center;
    }

    h1 {
      padding: 0 50px 0 0px;
    }

    .info-box {
      padding: 0;
      margin: 0;
      width: 360px;
    }

    .learn-more-btn {
      justify-content: left;
    }

    .img-col-right {
      order: 2;
      width: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content-section-2 {
    .container {
      display: flex;
      text-align: left;
    }

    .right-col{
      order: 2;
      width: 50%;
      display: flex;
      justify-content: center;
      flex-flow: column;
      align-items: center;
    }

    .info-box {
      padding: 0;
      margin: 0;
      width: 360px;
    }

    .learn-more-btn {
      justify-content: left;
    }

    .img-col-left {
      order: 1;
      width: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .features-section {
    .container {
      display: flex;
      text-align: center;
    }

    .left-col {
      order: 1;
      width: 50%;
      flex-flow: column;
      align-items: center;
    }

    .right-col {
      order: 2;
      width: 50%;
      flex-flow: column;
      align-items: center;
    }

    .info-box {
      width: 300px;
      height: 160px;
    }
  }

  .testimonials-section {
    .info-box {
      margin: 80px 120px 40px 120px;

      ul {
        display: flex;
        justify-content: space-between;
      }

      ul li {
        width: 300px;
      }
    }
  }

  .gallery-section {
    .container {
      display: flex;
      flex-wrap: nowrap;

      img {
        width: 25%;
      }
    }
  }
}
